.inicio {
    height: 85vh;
    
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:   0px 0px;
  }
  
  .contenido h1 {
    font-family: 'VT323', monospace;
    font-size: 4rem;
    margin-bottom: 10px;
  }
  
  .contenido p {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  
  .iconos {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 2rem;
  }
  
  .iconos a {
    color: white;
    transition: all 0.3s ease;
  }
  
  .iconos a:hover {
    color: #61fb69;
    transform: translateY(-5px);
  }
  


  @media (max-width: 768px) {
    .inicio{
        height: 54vh;
    }
  }