.skills {
    background: linear-gradient(to right, #1e1e1e00, #2d2d2d00);
    
    padding: 0px 0;
    margin: 0 20%;
    overflow: hidden;
    
    mask-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0) 10%, rgb(0, 0, 0) 90%, transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, rgb(0, 0, 0) 10%, rgb(0, 0, 0) 90%, transparent);
  }
  
  
  .skills-track {
    display: flex;
    width: max-content;
    animation: scroll 25s linear infinite;
  }
  
  .skills-slide {
    display: flex;
    gap: 30px;
    align-items: center;
  }
  
  .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 5rem;
    min-width: 100px;
    transition: all ease 1s;
  }
  .skill:hover{
    color: rgb(64, 255, 47);
    font-size: 6rem;
  }
  
  .skill span {
    margin-top: 8px;
    font-size: 1.2rem;
    font-family: 'VT323', monospace;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
  
    100% {
      transform: translateX(-50%);
    }
  }
  @media (max-width: 768px) {
    .skills {
        padding: 0 5%;
        mask-image: linear-gradient(to right, transparent, black 5%, black 95%, transparent);
        -webkit-mask-image: linear-gradient(to right, transparent, black 5%, black 95%, transparent);
      }
      .skills-track {
        animation-duration: 15s;
      }
  
    
  }