.App {
  text-align: center;
  
  
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
body {
  font-family: 'VT323', monospace;
  background: linear-gradient(to right, #1e1e1e, #2d2d2d);

}
